
#editor,

#config-editor {

    border: 1px solid #777;

    min-height: 200px;

    width: 100%;

    background-color: #CFFFD1;

}

select#examples {

    display: inline-block !important;

    margin: 0 5px;

    width: auto;

}

table.autol {

    width: 100%;

}

.autol_table_title {

    background: none repeat scroll 0 0 #000;

    color: #fff;

    display: inline-block;

    font-weight: bold;

    padding: 0.5em;

}

table.autol span {

    border: 1px solid #eee;

    margin: 1px;

    padding: 0 2px;

}

table.autol span[type="number"] {

    background: none repeat scroll 0 0 #bfffe6;

}

table.autol div.array_element {

    border: 1px solid #777;

    margin: 7px;

    opacity: 0.7;

    padding: 1px;

}

table.autol span[type="string"] {

    background: none repeat scroll 0 0 #5fd5ff;

}

table.autol table.object_table {

    background: none repeat scroll 0 0 #ffdc9f;

    opacity: 0.7;

}

table.autol td {

    border: 1px solid #eee;

    padding: 0;

}

.panel {

    min-height: 350px;

}

.column-number {

    padding-right: 2px;

    text-align: right;

}

div[operation] {

    background: none repeat scroll 0 0 #777;

    color: #fff;

    padding-right: 2px;

    text-align: right;

}

div[operation]:before {

    content: attr(operation);

    display: block;

    font-weight: normal;

    padding: 2px;

    text-align: left;

}

table.uncolor span[type=number] {

    background: none;

    display: block;

    text-align: right;

}

#config-editor.error,

#editor.error {

    background-color: #FF9F9F;

}

.panel:hover {

    border: 1px solid #777;

}

select#examples {

    height: 20px;

    padding: 0px;

}
